body {
    font-family: 'Lato', sans-serif;
    color: rgba(41, 41, 41, 1);
}

h1, h2, h3 {
    font-weight: 700;
}

.dark-blue {
    color: #146C94;
}

.light-blue {
    color: #19A7CE;
}

.register-page {
    padding-top: 100px;
}

.register-form {
    width: 30%;
    margin: auto;
    padding: 20px;
}

/* ----------------------------------------------------- */

.login-page {
    padding-top: 100px;
}

.login-form {
    width: 30%;
    margin: auto;
    padding: 20px;
}

/* ----------------------------------------------------- */

.add-post-page {
    padding-top: 70px;
}

.add-post-form {
    width: 50%;
    margin: auto;
}